@use "../utils/variables" as *;

html,
body {
  overflow-x: hidden;
}

body,
h1,
h2,
p {
  font-family: $font-family-base;
  margin: 0;
}

header,
main {
  margin: 45px 100px;
}

h2 {
  color: $primary-color;
  font-size: $title-font-size;
  font-weight: 500;
}

p,
ul,
li {
  font-size: $p-font-size;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  font-family: $font-family-base;
}