@use "../utils/variables" as *;

.rental {
    .rental-content {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        .rental-info p {
            @media (max-width: 768px) {
                font-size: 14px;
            }
        }


        .rental-host {

            .host-info {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                p {
                    width: 93px;
                    text-align: right;
                    margin-right: 10px;
                    color: $primary-color;
                }

                img {
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
            }

            .rating {
                margin-top: 20px;
            }
        }

    }
}