@use "../utils/variables" as *;
// @use "../utils/mixins" as *;

.rental {
    .rental-content {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .rental-info {

            p {
                margin-top: 5px;
            }

            .tag {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                gap: 10px;

                li {
                    background-color: $primary-color;
                    border-radius: 25px;
                    color: white;
                    padding: 3px 30px 3px 30px;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 500; // maquette 700
                }

            }
        }

        .rental-host {
            .host-info {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                p {
                    width: 93px;
                    text-align: right;
                    margin-right: 10px;
                    color: $primary-color;
                }

                img {
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                }
            }

            .rating {
                margin-top: 20px;
            }
        }

    }
}