// COULEURS DU SITE //

$primary-color: #ff6060;
$second-color: black;
$third-color: white;

// POLICE ET TAILLE DU TEXTE //
$text-color: white;
$second-text-color: black;

$font-family-base: "Montserrat";

$title-font-size: 36px;
$p-font-size: 18px;

// CARDS //
$linear-cards: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0) 0%,
  rgba(0, 0, 0, 0.5) 100%
);
