// COULEURS DU SITE //

$primary-color: #ff6060;
$second-color: black;
$third-color: white;

// POLICE ET TAILLE DU TEXTE //
$text-color: white;
$second-text-color: black;

$font-family-base: "Montserrat";

$title-font-size: 36px;
$p-font-size: 18px;
