header {

  @media (max-width: 768px) {
    margin: 20px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 68px;
      // width: 35%;

      @media (max-width: 768px) {
        height: 47px;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: 20px;
      list-style-type: none;

      //     @media (max-width: 768px){
      //       font-size: 12px;
      //       text-transform: uppercase;
      //       gap: 26px;
      //       text-underline-offset: 2px;
      //       margin-right: 20px;

      // }

      li a {
        text-decoration: none;
        color: inherit;
        font-size: 24px;
        padding-left: 50px;

        @media (max-width: 768px) {
          font-size: 12px;
          text-transform: uppercase;
          padding-left: 0;
          // margin-right: 20px;

        }
      }

      li a.active {
        text-decoration: underline;
      }
    }
  }
}