@use "../utils/variables" as *;

.banner {
  position: relative;
  height: 223px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
    // opacity: 0.9;
    filter: brightness(40%);
  }

  .banner-content {
    position: relative;
    color: $text-color;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: black;
  }
}

// Banner page A Propos //

.banner-about {
  .banner-image {
    filter: brightness(65%);
  }
}