@use "../utils/variables" as *;

.carrousel {
    position: relative;

    .carrousel-slide {

        .slide-img {
            width: 100%;
            height: 415px;
            border-radius: 25px;
            object-fit: cover;

            @media (max-width: 768px) {
                height: 255px;
            }

            .carrousel-img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
                object-fit: cover;

                @media (max-width: 768px) {
                    border-radius: 10px;
                }
            }

        }

        .arrow {
            position: absolute;

            img {
                @media (max-width: 768px) {
                    height: 20px;
                    width: 12px;
                }
            }

        }

        .arrow-left {
            left: 23px;
            top: 150px;

            @media (max-width: 768px) {
                left: 7px;
                top: 50%;
            }
        }

        .arrow-right {
            right: 23px;
            top: 150px;

            @media (max-width: 768px) {
                right: 7px;
                top: 50%;
            }
        }

        .slide-number {
            position: absolute;
            left: 50%;
            bottom: 25px;
            color: $text-color;
            font-size: 18px;
            font-weight: 500;

            @media (max-width: 768px) {
                display: none;
            }

        }
    }
}