@use "../utils/variables" as *;

.collapse {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media (max-width: 768px) {
        width: 100%;
        margin-top: 20px;
    }

    .collapse-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primary-color;
        color: $text-color;
        border: none;
        font-size: 24px;
        font-weight: 500; // maquette 700 //
        padding: 10px 20px 10px 15px;
        border-radius: 5px;

        @media (max-width: 768px) {
            font-size: 13px;
            // height: 30px;
            padding: 10px;
        }

        .collapse-arrow {
            color: $text-color;
            cursor: pointer;
            // transition: transform 0.3s ease;

            @media (max-width: 768px) {
                // width: 16px;
                height: 10px;
            }
        }

        // .collapse-arrow.open {
        //     transform: rotate(0deg);
        // }

        // .collapse-arrow.close {
        //     transform: rotate(-180deg);
        // }
    }

    .collapse-content {
        overflow: hidden;
        height: 0;
        padding: 0;
        transition: height 0.4s ease, padding 0.4s ease;
    }

    .collapse-content.open {
        height: auto;
        background-color: $collapse-bg-color;
        margin: 0;
        padding: 20px;
        border-radius: 5px;

        @media (max-width: 768px) {
            padding: 13px;
        }

        p,
        ul {
            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}

// COLLAPSE PAGE RENTAL // 

.collapse-rental {
    display: flex;
    flex-direction: row;
    gap: 76px;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 0;
    }

    li {
        padding-bottom: 2px;

        @media (max-width: 768px) {
            font-size: 12px;
        }
    }
}